* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    width: 100%;
    min-height: 10px;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
body div.wrapper-instagram {
    display: flex;
    align-items: center;
    justify-content: center;
}
div .esq {
    width: 419px;
    height: 618px;
    background-image: url("../img/mobile.png");
}
div .esq #trocarimg{
    width: 240px;
    height: 427px;
    position: relative;
    left: 151px;
    top: 100px;
}
div .dir {
    width: 370px;
    height: 618px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div .dir .login01 {
    width: 350px;
    height: 355px;
    background-color: white;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
div .dir .login01 h1.lginst {
    background-image: url("../img/32f0a4f27407.png");
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
    margin: 25px 0 25px 0;
}
div .dir .login01 .form-user {
    width: 270px;
    height: 125px;
}
div .dir .login01 .form-user input.input-login {
    background-color: rgb(243, 243, 243);
    color: silver;
    border: solid 1px silver;
    height: 30px;
    line-height: 30px;
    width: 270px;
    margin-bottom: 5px;
}
div .dir .login01 .form-user button{
    background-color: lightskyblue;
    border: none;
    position: absolute;
    height: 28px;
    width: 270px;
    margin-top: 10px
}
div .dir .login01 .linha-cinza{
    height: 1px;
    background-color: silver;
    width : 80%;
    margin-top: 25px;
}
div .login01 .texto-ou {
    width: 50px;
    background-color: white;
    text-align: center;
    margin-top: -11px;
}
div .login01 .facebook-logo{
    height: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}
div .login01 .facebook-logo img {
    margin-right: 5px;
}
div .login01 .facebook-logo .texto-facebook{
    /* position: relative;
    top: 96px;
    left: 95px; */
}
div .login01 .texto-esqueceu{
    font-size: 11px;
    text-align: center;
    margin-top: 28px;
}
div .dir .login02 {
    width: 350px;
    height: 70px;
    background-color: white;
    border: 1px solid silver;
    margin-top: 10px;;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
div .login02 .texto-cadastre {
    font-size: 13px;
}
div .dir .login03 {
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
div .dir .login03 .text-get-app {
    margin: 20px 0 20px 0;
    font-size: 13px;
}
div .dir .login03 .img-get-app {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
div .dir .login03 .img-get-app .icone {
    width: 136px; 
    height: 40px;
}

@media (max-width: 768px) {
    div .dir .login01,
    div .dir .login02,
    div .dir .login03 {
        width: 330px;
    }
}


@media (max-width: 740px) {
    body {
        background-color: white;
    }
    div .esq {
        display: none;
    }
    div .dir .login01,
    div .dir .login02 {
        border: 1px solid transparent;
    }
}


